/*-------------in the bBody------------  
Text Color #769fcd- #d6e6f2
 inside div # */
body{
    background-color: #b9d7ea;
    color:#30424b;
    text-align: center;
    margin: 0;
    font-size:1.5em;
    font-family: 'Architects Daughter', cursive;
    /* font-family: 'Lexend Peta', sans-serif; */
    
     
}
h1{
    font-size: 4.2rem;
    margin: 0;
}
h2{
    font-size: 2.0rem;
    margin-top: 20px 0 20px 0 ;

}

.iconMade{
    font-size: .5rem;
    text-align: end;
}
.intro{
    font-family: 'Architects Daughter', cursive;

    
}

.text{
    font-weight: bold;
}

.top-container{
    margin-top: 0;
    position: relative;
   
}

.bug-down{
  
    border-radius: 20%;
   width: 6%;
   opacity: 0.5;
   transition:all 2s ;
       
  }
  .bug-down:hover{
    opacity: 1.0;
    transform: rotate3d(1,1,1,30deg);
   }

   .myPhoto{
      width: 15%;
      border-radius: 20%;
      
  }
  
  /* Skills  section */
 
 
  
  .skills-section{

    background-color: #d6e6f2; 
  
  }

  .skill-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
      }
   

  .skills{
     margin: 10px 10px 10px 10px;
    transition:all 1s ;
    overflow-x: auto;
 

       }

       .skills:hover{
        transform: scale(1.1);
        animation-name: example;
        animation-duration: 4s;
       
    }
    
    @keyframes example {
        20% {box-shadow: 4px 4px 5px 4px;
              }
       
     
      }
    
     .inside{

        margin-left: 20px;
     }

       #my-skill{

         padding: 10px 0 10px 0;
     }

     .bottom-container,.contact-me{

        background-color: #d6e6f2; 
  

     }
     .btn{

        /* box-shadow: 0px -5px 0px 0px #63a3d4; */
        background-color:#2773ad;
        border-radius:28px;
        display:inline-block;
        color: black;
        cursor:pointer;
        font-size:18px;
        padding:18px 34px;
        text-decoration:none;
        margin-bottom: 20px;
	

     }

     footer{
         margin: 10px;
     }
     footer>a{
       
         padding: 10px;
         text-decoration: none;
         color: #2773ad
         
     }
     footer>a:hover{

        color: black;
     }

    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
         margin: 0;
        padding: 10px;
       
    }

    li{
        margin-left: 10px;
    }
     .nav{

    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  
     }

    
    .professionalExp{

      width: 65%;
      
      

    }

    .testClass{
        background-color: red;
    }
    